
html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}
#home {
    background-image: url("~/img/home.jpg") !important
}
.field-validation-error{
    color: red;
}
.input-validation-error{
    border:  2px solid red;
}
.field-validation-valid {
    display: none;
}
#satellites-table td a, #customers-table td a{
    text-decoration:none;
}