@model Epicycl.Models.Customer;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: @Model.MembershipType</li>
    @if (@Model.Birthday != null)
    {
        <li>Birthday: @Model.Birthday</li>
    }
    
</ul>


