@model IEnumerable<Epicycl.Models.Satellite>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Satellites</h1>
<br />
@if(!Model.Any())
{
    <p>We don't have any satellites yet.</p>
}else{
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Satellites</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
      <p>
          @Html.ActionLink("New Satellite", "New", "Satellite", null, new {@class = "btn btn-primary"})
      </p>
      
    
            @foreach(var satellite in Model)
            {
                <tr class="table-dark">
                 <td scope="row">
                     @Html.ActionLink(satellite.Name, "Edit", "Satellite", new{ id=satellite.Id}, null)
                     
                 </td>
                 <td>@satellite.Type</td>
                 </tr>
            }
    
  </tbody>
</table>
}

