@section Styles{
    <link rel="Stylesheet" href="@Href("~/css/home.css")" />
}
@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="text-center">
    <h1 class="display-4 text-info" >Your Satellite Services Host</h1>
    <h3 class="text-info">Start exploring today</h3>
    <div class="bottom-buttons">
         <p>
    @Html.ActionLink("Explore Services", "Index", "Customer", null, new {@class = "btn btn-outline-info button-customer"})
        </p>
        <p>
    @Html.ActionLink("Explore Satellites", "Index", "Satellite", null, new {@class = "btn btn-outline-info button-satellite"})
        </p>
       
    </div>
    
</div>
<div class="home-background">
    <img id="image-satellite" 
    src="~/img/Satelite.svg" 
    alt="satellite vector" >
<img id="image-stars" src="~/img/Stars.svg"/>
</div>

@section Scripts{
    <script>
        $(function(){

            $("#image-satellite").animate({
                "right": "-500px"
            }, 85000, 'linear');
        });
    </script>
}