@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="text-center" style="display:flex;flex-direction:column;align-items:flex-start;position:absolute;bottom:130px;left:50px;">
    <h1 class="display-4 text-info" >Your Satellite Services Host</h1>
    <h3 class="text-info">Start exploring today</h3>
    <div style="display:flex;padding-top:10px;">
         <p>
    @Html.ActionLink("Explore Services", "Index", "Customer", null, new {@class = "btn btn-outline-info", @style="font-size:20px;margin-right:10px;"})
        </p>
        <p>
    @Html.ActionLink("Explore Satellites", "Index", "Satellite", null, new {@class = "btn btn-outline-info", @style="font-size:20px;"})
        </p>
       
    </div>
    
</div>
<div style="overflow:hidden;max-width:100vw;">
    <img id="image-satellite" 
    src="~/img/Satelite.svg" 
    alt="satellite vector" 
    style="right:712px;height:650px;position:absolute;top:-13px;z-index:-1;transform:rotate(20deg);">
<img src="~/img/Stars.svg" style="position:absolute;z-index:-2;left:0;top:0;width:100vw"/>
</div>

@section Scripts{
    <script>
        $(function(){

            $("#image-satellite").animate({
                "right": "-500px"
            }, 85000, 'linear');
        });
    </script>
}